---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

let currentLang = "en"
let allPosts = await Astro.glob('./blog/posts/*.md')
allPosts = allPosts.filter(x => !x.frontmatter.draft && x.frontmatter.lang == currentLang)
---
<Layout title="Blog">
	<main>
		<ul role="list" class="link-card-grid">
			{allPosts.map(p => 
            <Card 
                href={p.url}
                title={p.frontmatter.title}
                body={p.frontmatter.author+" "+p.frontmatter.date} 
            />)}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

</style>
