---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Intro">
	<main>
		<div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
			<img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="/profile_photo.jpeg" alt="Woman's Face">
			<div class="text-center space-y-2 sm:text-left">
			  <div class="space-y-0.5">
				<p class="text-lg text-black font-semibold">
				  Maxim Minaev
				</p>
				<p class="text-slate-500 font-medium">
				  Software Engineer
				</p>
			  </div>
			  <div class="grid grid-cols-5">
				<a href="https://github.com/minmax1996" class="content-link">
					<img class="rounded-full sm:mx-0 sm:shrink-0" src="/github-icon.png" />
				</a>
				<a href="https://www.linkedin.com/in/maxim-minaev-692455175" class="content-link">
					<img class="rounded-full sm:mx-0 sm:shrink-0"  src="/li-icon.png" />
				</a>
				<a href="https://www.facebook.com/profile.php?id=100008498891308" class="content-link">
					<img class="rounded-full sm:mx-0 sm:shrink-0" src="/fb-icon.png" />
				</a>
			</div>
			</div>
		  </div>
	</main>
	<section class="mt-8 px-8 max-w-sm mx-auto sm:max-w-xl"> <!-- Добавлен section с отступом и выравниванием -->
		<h2 class="text-2xl text-black font-semibold mb-4 text-center sm:text-left">Projects</h2> <!-- Добавлен заголовок -->
		<ul class="list-disc pl-5 space-y-2"> <!-- Добавлен список с отступами -->
			<li>
				<a href="https://wordle.minmax1996.me/wordle" class="text-blue-600 hover:underline" target="_blank">
					Wordle Duel - a real-time multiplayer competitive game where you challenge random players in classic Wordle puzzles
				</a>
			</li>
		</ul>
	</section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
