---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LinksRow from "../components/LinksRow.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="Intro">
	<main>
		<div class="container">
			<h1 class="item">Maxim Minaev</h1>
			<img class="item" src="/profile_photo.jpeg"/>
			<LinksRow class="item"/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.container {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	h1.item{
		font-size: 3rem;
		text-align: center;
		padding-bottom: 30px;
	}
	img.item {
		width: min(50%, 300px);
		height: auto;
		border-radius: 50%;
		display: block;
  		margin: 0 auto;
	}
</style>
