<div class="links-row">
    <div class="social-button">
        <a href="https://github.com/minmax1996" class="content-link">
            <img src="/github-icon.png" />
        </a>
    </div>
    <div class="social-button">
        <a href="https://www.linkedin.com/in/maxim-minaev-692455175" class="content-link">
            <img src="/li-icon.png" />
        </a>
    </div>
    <div class="social-button">
        <a href="https://github.com/minmax1996" class="content-link">
            <img src="/github-icon.png" />
        </a>
    </div>
</div>

<style>
    .links-row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		justify-content: center;
		align-items: center;
	}

    .social-button {
        position: relative;
        width: 48px;
        height: 48px;
        display: inline-block;
        border-bottom: 5px #ff00ff solid;
        cursor: pointer;
    }
    
    .content-link {
        text-decoration: none;
    }

    .content-link img {
        display: block;
        width: 48px;
        height: 48px;
    }
</style>
